[Desktop Entry]
Encoding=UTF-8
Name=Tilda
Exec=/usr/bin/tilda
Icon=/usr/share/applications/tilda.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Utility;TerminalEmulator;
